.result-text {
    margin-top: 150px;
    text-align: center;
    font-family: var(--main);
    color: white;
    font-size: 24px;
}

.result-text p strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    vertical-align: middle;
}

.result-up {
    margin-bottom: 16px;
}

.btn-wrap button {
    margin-top: 152px;
    padding: 20px 50px;
    background-color: #FCEE21;
    border-radius: 50px;
    border: none;
    font-family: 'GmarketSansBold';
    color: #5B2386;
    font-size: 24px;
    cursor: pointer;
}

.btn-wrap .share-btn {
    background-color: white;
    margin-left: 18px;
}