
.qre {
    font-family: 'OTEnjoystoriesBA';
    text-align: center;
    font-size: 36px;
    color: #F5DF4D;
    margin-top: 46px;
}

.quotes {
    margin-top: 78px;
    display:flex;
    justify-content: center;
    gap: 14px;
}

.quotes::after {
    content: '';
    display: block;
    width: 46px;
    height:96px;
    background: url('../../../public/img/quotes-right.svg')no-repeat top;
}

.quotes::before {
    content: '';
    display: block;
    width: 46px;
    height: 96px;
    background: url('../../../public/img/quotes-left.svg')no-repeat top;
}

.quotes-text {
    font-family: var(--main);
    text-align: center;
    color: white;
    line-height: 1.5;
    font-size: 18px;
}

.quotes-text strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.result-text {
    margin-top: 150px;
    text-align: center;
    font-family: var(--main);
    color: white;
    font-size: 24px;
}

.result-text p strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    vertical-align: middle;
}

.result-up {
    margin-bottom: 16px;
}

.btn-wrap button {
    margin-top: 152px;
    padding: 20px 50px;
    background-color: #FCEE21;
    border-radius: 50px;
    border: none;
    font-family: 'GmarketSansBold';
    color: #5B2386;
    font-size: 24px;
    cursor: pointer;
}

.btn-wrap .share-btn {
    background-color: white;
    margin-left: 18px;
}